beautifulsoup4==4.15.0
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
comtypes==1.4.16
idna==3.18
joblib==1.5.3
nltk==3.9.4
PyAudio==0.2.14
pypiwin32==223
pyttsx3==2.99
pywin32==312
regex==2026.5.9
requests==2.34.2
soupsieve==2.8.4
SpeechRecognition==3.17.0
tqdm==4.68.3
typing_extensions==4.15.0
urllib3==2.7.0
wikipedia==1.4.0
